@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
    font-size: 1.2rem;
    background-color: turquoise;
    background-color: rgb(18, 221, 194);
    padding: 2rem;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 4px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-family: 'Architects Daughter', cursive;
}

p{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}


div.header h1 {
    text-align: center;
}

.button {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.search-container {
    text-align: center;
}

#generatorButton{
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: black;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 1.0rem;
    cursor: pointer;
    outline: 0;
}

#generatorButton:hover{
    padding-block: 15px;

}

div.container h3{
    text-align: center;
}
.voting-section{
    text-align: center;
}

#likebtn{
    font-size: 20px;
    background: none;
}

#dislikebtn{
    font-size: 20px;
    background: none;
}

#likebtn:hover{
    padding-inline: 5px;
    background: white;
}


#likebtn:active{
    color: green;
    transform: scale(1.4);

}

#dislikebtn:active{
    color: red;
    transform: scale(1.4);

}

#search-box{
    font-family: 'Quicksand', sans-serif;
    width: 60;
    position: relative;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 1.0rem;
}

#search-button{
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: black;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 1.0rem;
    cursor: pointer;
    outline: 0;
}

#search-button:hover{
    padding-block: 15px;
}

div.voting-section input{
    background-color: black;
    width: 35px;
    border: none;
    color: white;
    font-size: 20px;
}

#name{
    font-family: 'Quicksand', sans-serif;
    width: 50;
    position: relative;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 1.0rem;
}

#name:hover{
    padding-block: 15px;
}

#comment{
    font-family: 'Quicksand', sans-serif;
    width: 200px;
    position: relative;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 1.0rem;
}

#comment:hover{
    padding-block: 15px;
}

div.review-container{
    text-align: center;
}

div.review-container button {
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 1.0rem;
    cursor: pointer;
    outline: 0;
}

div.review-container button:hover{
    padding-block: 10px;
}

